<a href="https://colab.research.google.com/github/danielfrgs/LCD-PCCD-2021-1/blob/main/Kvecinos_Regresi%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Detecar Spam 

documents = ['Hello, how are you!',
             'Win money, win from home.',
             'Call me now.',
             'Hello, Call hello you tomorrow?']

from sklearn.feature_extraction.text import CountVectorizer
count = CountVectorizer()

print(count)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [4]:
count.fit(documents)
names = count.get_feature_names()
names

['are',
 'call',
 'from',
 'hello',
 'home',
 'how',
 'me',
 'money',
 'now',
 'tomorrow',
 'win',
 'you']

In [5]:
count.transform(documents).toarray()

array([[1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1],
       [0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 2, 0],
       [0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0],
       [0, 1, 0, 2, 0, 0, 0, 0, 0, 1, 0, 1]])

In [7]:
import pandas as pd
df = pd.read_csv('https://bit.ly/2kCy3CN',
                    sep='\t',
                    names=['label','sms_message'])

df.head()

  label                                        sms_message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
# Preprocesamiento
df.label = df.label.map({'ham':0, 'spam':1})
df.head()

   label                                        sms_message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [12]:
from sklearn.model_selection import  train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.sms_message, df.label, random_state=1)
print('Completo: ', df.shape[0])
print('Entrenamiento: ', X_train.shape[0])
print('Prueba: ', X_test.shape[0])

Completo:  5572
Entrenamiento:  4179
Prueba:  1393

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer()
X_train_count = count_vector.fit_transform(X_train)
X_test_count = count_vector.transform(X_test)

In [19]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(X_train_count, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [20]:
y_hat = nb.predict(X_test_count)

In [21]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

print('Accuracy : ', accuracy_score(y_test, y_hat))
print('Precision : ', precision_score(y_test, y_hat))
print('Recall : ', recall_score(y_test, y_hat))
print('F1 : ', f1_score(y_test, y_hat))

Accuracy :  0.9885139985642498
Precision :  0.9720670391061452
Recall :  0.9405405405405406
F1 :  0.9560439560439562